![TheBridge_logo_RGB_color.jpg](attachment:TheBridge_logo_RGB_color.jpg)

![imagen](./img/ejercicios.png)

## EJERCICIOS PYTHON BASICO 2:
## Tipos y conversión de tipos

Completa los siguiente ejercicios, la solución a los mismos se publicarán en el repo del curso a lo largo del sprint

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 1

1. Crea dos variables numericas: un `int` y un `float`
2. Comprueba sus tipos
3. Sumalas en otra nueva
4. ¿De qué tipo es la nueva variable?
5. Elimina las dos primeras variables creadas

In [2]:
num_int = 22
num_float = 3.1

print("num_int", type(num_int))
print("num_float", type(num_float))

num_int <class 'int'>
num_float <class 'float'>

In [5]:
suma = num_int + num_float
print(num_int + num_float)

25.1

In [9]:
suma_vars = num_int + num_float
print(suma_vars)

25.1

In [10]:
print(type(suma_vars))

<class 'float'>

In [16]:
num_int = 22
num_float = 3.1
del num_int
del num_float

In [17]:
num_int

<class 'NameError'>: name 'num_int' is not defined

In [18]:
num_float

<class 'NameError'>: name 'num_float' is not defined

In [19]:
print(num_int_float)

<class 'NameError'>: name 'num_int_float' is not defined

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 2
Escribe un programa para pasar de grados a radianes. Hay que usar `input`. Recuerda que la conversión se realiza mediante

radianes = grados*(pi/180)

In [31]:
import math 
grados = float(input("Angulo en grados:"))
radianes = grados * (math.pi/180)
print("Angulo en radianes:", radianes)

Angulo en grados: 90

Angulo en radianes: 1.5707963267948966

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 3
Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`

In [40]:
base = int(input("base"))
altura = int(input("altura"))

area = base * altura
print(area)

base 12
altura 5

60

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 4
Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`. En este caso debe ser capaz de admitir valores reales, con decimales, para base y altura en español. (PISTA: Recuerda que tendrás que hacer uso del método replace)

In [42]:
base_str = input("base")
altura_str = input("altura")

nueva_base = base_str.replace(",",".")
nueva_altura = altura_str.replace(",",".")

base = float(nueva_base)
altura = float(nueva_altura)

area = base * altura
print(area)

base 14,4
altura 3.7

53.28

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 5
Complete el siguiente código para solicitar al usuario su nombre y su edad. Luego, calcule en qué año nació el usuario y muestre el resultado.

In [ ]:
nombre = _______("¿Cuál es tu nombre? ")
edad = _____(input("¿Cuál es tu edad? "))
año_actual = 2023  # Puedes cambiarlo según el año en curso
año_nacimiento = año_actual - _____

print(f"{nombre}, naciste en el año {año_nacimiento}.")

In [44]:
nombre = input("¿Cuál es tu nombre? ")
edad = int(input("¿Cuál es tu edad? "))
año_actual = 2025 # Puedes cambiarlo según el año en curso
año_nacimiento = año_actual - edad

print(f"{nombre}, naciste en el año {año_nacimiento}.")

¿Cuál es tu nombre?  Ana
¿Cuál es tu edad?  25

Ana, naciste en el año 2000.